@model GymTest.Models.Assistance

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar asistencia</h2>

<h3>¿Seguro que desea Eliminar esta asistencia?</h3>
<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssistanceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistanceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AssistanceId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Volver</a>
    </form>
</div>
