@model GymTest.Models.CashMovementType

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Está seguro que desea eliminar este tipo de movimiento?</h3>
<div>
    <h4>Tipo de movimiento de caja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CashMovementTypeDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashMovementTypeDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-antiforgery="false">
        <input type="hidden" asp-for="CashMovementTypeId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Regresar</a>
    </form>
</div>
