@{
    ViewData["Title"] = "Admin. Sueldos";
}

<h2>Administración de Sueldos</h2>

<div class="row">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Role" asp-action="Index">Roles</a></li>
        <li><a asp-area="" asp-controller="Resource" asp-action="Index">Recursos</a></li>
        <li><a asp-area="" asp-controller="Workday" asp-action="Index">Jornadas</a></li>
    </ul>
</div>