@model GymTest.Models.Role

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar rol</h2>

<h3>¿Seguro que desea Eliminar este rol?</h3>
<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>
    </dl>

    <form asp-action="Delete" asp-antiforgery="false">
        <input type="hidden" asp-for="RoleId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Volver</a>
    </form>
</div>
