@model GymTest.Models.Role

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoleId" class="btn btn-default">Editar rol</a> |
    <a asp-action="Index" class="btn btn-default">Volver</a>
</div>
