@{
    ViewData["Title"] = "Bienvenido!!!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<meta http-equiv="Refresh" content="5; url=/home" />

@if (ViewData["ImgCondition"].Equals("OK"))
{
    <img src="~/images/hello.gif" alt="Funny image" id="imgOK">
}
else
{
    <img src="~/images/mustpay.gif" alt="Funny image" id="imgPAY">
}