@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@inject UserManager<IdentityUser> UserManager
@inject IOptions<AppSettings> AppSettingsOptions

<!DOCTYPE html>
<html>
<head class="headerHome">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>


        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/users.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/style.css" />


</head>
<!--<body style="background-image: linear-gradient(to bottom right,#DEDFDF,#017383)">-->
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="containerToggle navbar-brand" onclick="showX(this)" data-toggle="collapse" data-target="#main-menu">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">GymApp</a>
                <!--<img src="~/images/logo.png" alt="logo" width="100px" height="30px" />-->
            </div>

            <div id="main-menu" class="collapse">
                @if (UserManager.GetUserName(User) != AppSettingsOptions.Value.EmailOnlyForAssistances)
                {
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Users" asp-action="Index">Usuarios</a></li>
                    <li><a asp-area="" asp-controller="Payments" asp-action="Index">Pagos</a></li>
                    <li><a asp-area="" asp-controller="Assistances" asp-action="Index">Asistencias</a></li>
                    <li><a asp-area="" asp-controller="CashMovement" asp-action="Index">Movimientos caja</a></li>
                    <li><a asp-area="" asp-controller="GeneralAdministration" asp-action="Index">Administración General</a></li>
                    @if (ViewBag.Articles != null && ViewBag.Articles)
                    {
                        <li><a asp-area="" asp-controller="Notifications" asp-action="Index" style="background-color:red">Avisos</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Notifications" asp-action="Index">Avisos</a></li>
                    }
                    <!--<li><a asp-area="" asp-controller="UserReport" asp-action="Index">Reportes Manuales</a></li>-->
                </ul>
                }
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - GymTest</p>
        </footer>
    </div>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery-1.12.4.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
        <script>$(function () {
                $(".datepicker").datepicker();
                $(".datepicker").datepicker("option", "dateFormat", "dd/mm/yy");
            });</script>
        <script>function showX(x) {
                x.classList.toggle("change");
            }</script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.date.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
