@model GymTest.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SupplierId" class="btn btn-default">Modificar</a> |
    <a asp-action="Index" class="btn btn-default">Regresar</a>
</div>
