@model IEnumerable<GymTest.Models.Supplier>

@{
    ViewData["Title"] = "Administrador de Proveedores";
}

<h2>Administrador de Proveedores</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierDescription)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.SupplierId" class="btn btn-primary">Modificar</a>
                        <a asp-action="Delete" asp-route-id="@item.SupplierId" class="btn btn-danger">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
