@model GymTest.Models.CashSubcategory

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Está seguro que desea eliminar esta subcategoría?</h3>
<div>
    <h4>Subcategoría</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CashSubcategoryDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashSubcategoryDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CashCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashCategory.CashCategoryDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CashSubcategoryId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Regresar</a>
    </form>
</div>
