@model GymTest.Models.Field

@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Eliminar Cancha</h2>

<h3>¿Seguro que desea Eliminar la Cancha?</h3>
<div>
    <h4>Field</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FieldDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FieldId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Volver</a>
    </form>
</div>
