@model IEnumerable<GymTest.Models.Field>

@{
    ViewData["Title"] = "Index";
}

<h2>Canchas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Cancha</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FieldDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldDescription)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.FieldId" class="btn btn-primary">Modificar</a>
                    <a asp-action="Delete" asp-route-id="@item.FieldId" class="btn btn-danger">Eliminar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
