@model GymTest.Models.AutomaticProcess

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AutomaticProcess</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-antiforgery="false">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AutomaticProcessId" />
            <div class="form-group">
                <label asp-for="AutomaticProcessDesctipion" class="control-label"></label>
                <input asp-for="AutomaticProcessDesctipion" class="form-control" />
                <span asp-validation-for="AutomaticProcessDesctipion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextProcessDate" class="control-label"></label>
                <input asp-for="NextProcessDate" class="form-control" />
                <span asp-validation-for="NextProcessDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastProcessDate" class="control-label"></label>
                <input asp-for="LastProcessDate" class="form-control" />
                <span asp-validation-for="LastProcessDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
