@model GymTest.Models.Discipline

@{
    ViewData["Title"] = "Delete";
}
    <br />
<h2>Eliminar Disciplina</h2>

<h3>Está seguro que desea eliminar la disciplina?</h3>
<h3>Recuerde que se eliminara toda actividad en el calendario asociada a esta disciplina</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisciplineDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisciplineDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DisciplineId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Volver</a>
    </form>
</div>
