<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>

    <table>

        <tr>

            <td>

                <span style="font-family:Arial;font-size:10pt">

                    <a style="color:#22BCE5" href="{Url}">{Title}</a><br />

                    {message}
                    <br /><br />
                    Datos del admin:
                    <br /><br />
                    Nombre: {UserName}
                    <br /><br />
                    Mail: {Email}
                    <br /><br />
                </span>

            </td>

        </tr>

    </table>

</body>

</html> 