<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>

    <table>

        <tr>

            <td>

                <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" width="150px" height="60px" />
                <br />
                <br />

                <div style="border-top:3px solid #22BCE5"> </div>

                <span style="font-family:Arial;font-size:10pt">

                    Hola <b>{UserName}</b>,<br /><br />

                    <a style="color:#22BCE5" href="{Url}">{Title}</a><br />

                    {message}

                    <br /><br />

                    Gracias,<br />

                    {client}.

                </span>

            </td>

        </tr>

    </table>

</body>

</html> 