@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@inject UserManager<IdentityUser> UserManager
@inject IOptions<AppSettings> AppSettingsOptions

@{
    ViewData["Title"] = "Admin. General";
}

<h2>Administración General</h2>

<div class="row">
    @if (!UserManager.GetUserName(User).ToLower().Contains(AppSettingsOptions.Value.UserOnlyForJourneys.ToLower()))
    {
        <ul class="nav navbar-nav">
            <li style="padding-right: 3px">
                <p><a asp-area="" asp-controller="CashCategory" asp-action="Index" class="btn btn-primary">Categorías movimientos</a></p>
            </li>
            <li style="padding-right: 3px">
                <p><a asp-area="" asp-controller="CashSubcategory" asp-action="Index" class="btn btn-primary">Subcategorías movimientos</a></p>
            </li>
            <li style="padding-right: 3px">
                <p><a asp-area="" asp-controller="Supplier" asp-action="Index" class="btn btn-primary">Proveedores</a></p>
            </li>
            <li style="padding-right: 3px">
                <p><a asp-area="" asp-controller="MedicalEmergency" asp-action="Index" class="btn btn-primary">Emergencias médicas</a></p>
            </li>
            <li style="padding-right: 3px">
                <p><a asp-area="" asp-controller="Payroll" asp-action="Index" class="btn btn-primary">Administración sueldos</a></p>
            </li>
            <li style="padding-right: 3px">
                <p><a asp-area="" asp-controller="PaymentMedia" asp-action="Index" class="btn btn-primary">Medios de pagos</a></p>
            </li>
            <li style="padding-right: 3px">
                <p><a asp-area="" asp-controller="Discipline" asp-action="Index" class="btn btn-primary">Disciplinas</a></p>
            </li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav">

            <li style="padding-right: 3px">
                <p><a asp-area="" asp-controller="Payroll" asp-action="Index" class="btn btn-primary">Administración sueldos</a></p>
            </li>
        </ul>
    }
</div>