@{
    ViewData["Title"] = "Admin. General";
}

<h2>Administración General</h2>

<div class="row">
    <ul class="nav navbar-nav">
        <!--<li><a asp-area="" asp-controller="CashMovementType" asp-action="Index">Tipos movimientos</a></li>-->
        <li><a asp-area="" asp-controller="CashCategory" asp-action="Index">Categorías movimientos</a></li>
        <li><a asp-area="" asp-controller="Supplier" asp-action="Index">Proveedores</a></li>
        <li><a asp-area="" asp-controller="MedicalEmergency" asp-action="Index">Emergencias médicas</a></li>
    </ul>
</div>